.Step__Main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Step__Main h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-size: 40px;
    font-weight: 400;
    padding: 0rem 10rem;
    text-align: center;
}
.Step__Main p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-size: 20px;
    font-weight: 400;
    margin: 21px 0px;
    text-align: center;
}
.Step_Text-header
{
    margin: 0 0 1rem 0;
}

.Step_Text-Subtex
{
    
}



@media screen and (max-width: 1500px){
    .Step_Text-header
{

}
}