.Logo
{
    display: flex;
    flex-direction: row;
    width: 10px;
    height: 40px; 
    justify-content: flex-start;
}

.Logo__png
{
    display: flex;
    width: 100px;
    height: 25px;
    margin: 10px 30px;
}

@media screen and (max-width : 650px)
{
.Logo
{

    width: 5px;
    height: 20px; 
    justify-content: center;
}
.Logo__png
{
    display: flex;
    width: 50px;
    height: 12px;
    margin: 6px 15px 0 150px;
}
}
@media screen and (max-width : 330px)
{
.Logo
{

    width: 5px;
    height: 20px; 
    justify-content: flex-end;
}
.Logo__png
{
    display: flex;
    width: 50px;
    height: 12px;
    margin: 6px 15px 0 150px;
}
}