.Logo
{
    display: flex;
    flex-direction: row;
    width: 10px;
    height: 40px;
}

.Logo__png
{
    display: flex;
    width: 100px;
    height: 25px;
    margin: 10px 30px;
}

@media screen and (max-width : 1150)
{
    
}
