.Progress__body
{   
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 3% 10% 2% 10%;
    align-items: center;
    
}

.Progress__Top
{
    display:inline-block;
    justify-content: center;
}

.Progress__bar
{
    margin: 0.4rem 0rem;
}
.Progress__Back-text
{
    margin: 0 1rem;
    cursor: pointer;
}


.Progress__Next-text
{
    margin : 0 1rem;
    cursor: pointer;
}

.Progress__Back-Arrow
{
    cursor: pointer;
}

.Progress__Next-arrow
{
    cursor: pointer;
}



@media screen and (max-width: 1150px){
    .Progress__body
{   
    padding: 3% 0% 2% 0%; 
}
}

@media screen and (max-width: 950px){
    .Progress__body
    {   
        padding: 4% 0% 0% 0%; 
        margin: 0 0 5% 0;
    }
    .Progress__Next-text
    {
        display: none;
    }
    .Progress__Back-text
    {
    display: none;
    }

    .Progress__Back-Arrow
    {
    margin: 0 5rem;
    }

    .Progress__Next-arrow
    {
    margin: 0 5rem;
    }   
}

@media screen and (max-width: 835px){
    .Progress__Back-Arrow
    {
    margin: 0 2rem;
    }

    .Progress__Next-arrow
    {
    margin: 0 2rem;
    }   
}
