
.body-home
{
    display: flex;
    justify-content: center;
    margin: 20rem 0 ;
}
.home__buttons
{
    display: flex;
}
.home__buttons button 
{
  margin : 0 7rem;
}
.task1-button
{

    height: 5rem;
    width: 15rem;
    border-radius: 20px;
    border: 0;
    background-color: blue;
    color: white;
    font-size: 20px;
}
.task1-button:hover
{
    cursor: pointer;
}

.task2-button
{
    height: 5rem;
    width: 15rem;
    border-radius: 20px;
    border: 0;
    font-weight: 500;
    font-size: 20px;
    background-color: blue;
    color: white;
}
.task2-button:hover
{
    cursor: pointer;
}


.home__buttons
{

}

@media screen and (max-width : 700px)
{
  .__padding
  {
    padding : 4rem;
  }

  .__margin
  {
    margin :4 rem;
  }
}
@media screen and (max-width : 550px)
{
  .__padding
  {
    padding : 4rem 2rem;
  }

  .__margin
  {
    margin :4 rem 2rem;
  }
}