.body-home
{
    background: linear-gradient(90deg, rgba(0,2,93,1) 0%, rgba(0,4,173,1) 100%);
}

.task1-button
{
    position: absolute;
    height: 5rem;
    width: 15rem;
    border-radius: 20px;
    top: 25rem;
    left: 30rem;
    border: 0;
    background-color: blue;
    color: white;
    font-size: 20px;
}
.task1-button:hover
{
    cursor: pointer;
}

.task2-button
{
    position: absolute;
    height: 5rem;
    width: 15rem;
    border-radius: 20px;
    top: 25rem;
    left: 75rem;
    border: 0;
    font-weight: 500;
    font-size: 20px;
    background-color: blue;
    color: white;
}
.task2-button:hover
{
    cursor: pointer;
}


.home__buttons
{

}

@media screen and (max-width : 700px)
{
  .__padding
  {
    padding : 4rem;
  }

  .__margin
  {
    margin :4 rem;
  }
}
@media screen and (max-width : 550px)
{
  .__padding
  {
    padding : 4rem 2rem;
  }

  .__margin
  {
    margin :4 rem 2rem;
  }
}