* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Task1__Body
{
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.Main__Body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f6f3f4;
  width: 85%;
  margin : 5rem 8%;
  min-height: 500px;
  border-radius: 22px; 
}

.Task1__Progress
{
  display: flex;
  justify-content: center;
}
.Logo__Task1
{
  display: flex;
  justify-content: flex-end;
  margin: -4rem 32rem ;
}
@media screen and (max-width: 750px){

}