.Body__Task1
{
    background-color: #F3F4F6;
    margin: 5rem 10rem;
    border-radius: 22px;
}


@media screen and (max-width : 650px)
{
    .Body__Task1
    {
        margin: 0rem 0rem;
    }
    .Task1__Body
    {
        background-color: #f6f3f3;
        margin: 0rem 0rem;
        width: 100%;
        height: 100vh;
    }
}