.Options__Body
{
    display: flex;
    justify-content: center;
    flex-direction: row;     
}

.Options__Icons
{
    display: flex;
    flex-direction: row;
    margin: 3rem 0rem;
}

@media screen and (max-width : 900px)
{
    .Options__Icons
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0rem;
}
}
