.SmallScreenCTA
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.SmallScreenCTA svg
{
    margin: 0.5rem 0;
}

.SVG-Virtual-Tour
{
    width: 100%;
    height:100.619;
    cursor: pointer;
}

.SVG-Rendered-Images
{
    width: 100%;
    height:100.619;
    cursor: pointer;
}

.SVG-Animated-Video
{
    width: 100%;
    height:100.619;
    cursor: pointer;
}

.SVG-Continue
{
    width: 100%;
    height:100.619;
    cursor: pointer;
}